* {
	margin: 0; /*menghilangkan margin default*/
	font-family: sans-serif; /* font menjadi sansserif semua */
	box-sizing: border-box; /* lebih leluasa menggunakan padding */
}

.kotak-login {
	background: #aaa; /*background berwarna abu-abu*/
	width: 350px; /*lebar 320px*/
	padding: 20px; /*kasih jarak pinggir*/
	border-radius: 10px; /*buat sudut tidak kotak*/
	margin: 200px auto; /*buat kotak ketengah*/
	box-shadow: 0 20px 20px black; /*beri bayangan*/
}

.inputan {
	margin: 10px 0; /*kasih jarak atas bawah*/
	width: 100%; /*lebar penuh*/
	border-radius: 7px; /*buat sudut tumpul*/
	padding: 5px; /*jarak pinggir*/
}

.kasih-jarak {
	display: flex; /*untuk membuat tampilan fleksibel*/
	justify-content: space-between; /*memberi jarak antar elemen*/
	margin-top: 20px; /*jarak dengan atas*/
}

.btn {
	padding: 7px;
	font-weight: bold;
}

.pembungkus {
	width: 100%; /*lebar full*/
	max-width: 1200px; /*lebar maksimal*/ 
	margin: 0 auto; /*posisi ketengah*/
}

.header {
	display: flex;
	background: #777;
	color: #ddd; /*warna tulisan abu2 putih*/
}

.header img{
	height: 100px;
	margin: 20px;
}

.header div {
	margin: 20px;
}

.navbar {
	background: #444;
}

.navbar a {
	padding: 20px;
	line-height: 50px; /*tinggi text*/
	color: white;
}

/*perubahan ketika cursor berada di atasnya*/
.navbar a:hover {
	background: #888;
	font-size: 20px;
}

.sambutan {
	margin-top: 100px;
	background: #999;
	border-radius: 10px;
	padding: 40px 20px;
}

.konten {
	width: 100%;
	margin-top: 100px;
	padding: 20px;
	background: #ddd;
}